.column {
	max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #f8f8f8;
}

.fix-navbar {
    margin-bottom: 1em;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 800px;
    margin: auto;
}

.brand {
    font-size: 0.7em;
}

.navbar-nav {
    list-style-type: none;
}

.nav-item {
    margin: 0.2em;
    display: inline-block;
}


blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #eceeef;
    font-style: italic;
}

article {
    margin: 0px;
    font-size: 16px;
}

.sans {
    font-family: 'Roboto', sans-serif;
}

time {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0em;
    color: #333;
}

h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    color: #333;
}

a {
    font-family: 'Roboto', sans-serif;
}

.social {
    font-family: 'Roboto', sans-serif;
}


article {
    color: #333;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
}

@media (min-width: 700px) {
    .title {
        font-size: 35px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 700px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }
    .brand {
        font-size: 1em;
    }
}

code {
    font-family: 'Source Code Pro', monospace;
    color: #9d0000;
    background-color: #eee;
    font-style: normal;
}

pre {
    font-size: 80%;
}

a {
    color: #39619e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-muted {
    color: #555;
}

.post-meta {
    margin-bottom: -20px;
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
}
