.navbar-brand {
    line-height:12px;
    padding-top:20px;
    padding-bottom:5px;
}

.navbar-brand small {
    margin-top: 5px;
    text-align: right;
    display:block;
    font-size:10px;
}

.list-group-item:hover {
    background-color: #f5f5f5;
}

@media (max-width: 576px) {
    .navbar-toggleable-md > .container {
        width: 100%;
    }
}

footer {
    background-color: #ddd;
    padding: 20px;
    margin-top: 10px;
}

.flex-fill {
    flex: 1;
}

.max-h-flex-column {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 0.25rem solid #eceeef;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main-column {
    padding-top: 60px;
    margin-top: -60px;
    max-width: 700px;
    font-size: 20px;
}

.post-title {
    font-weight: bold;
}

a {
    color: #043B58;
    font-weight: normal;
}

a:hover {
    color: #094D72;
}

.post-summary-content {
    font-size: 16px;
}

.bg-blue {
    background-color: #12628f;
}

.hljs {
    font-size: 16px;
}

.nav-container {
    max-width: 750px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
