.column {
    min-width: 25em;
	max-width: 33em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.fix-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(193, 232, 255, 0.9);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 800px;
    margin: auto;
}

.navbar-nav {
    list-style-type: none;
}

.nav-item {
    margin: 0em 0.2em;
    display: inline-block;
}


blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #eceeef;
    font-style: italic;
}

body {
    background-color: #fafafa;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

article {
    color: #333;
}

@media (min-width: 700px) {
    body {
        font-size: 18px;
        line-height: 1.4;
    }
    .title {
        font-size: 32px;
    }
    .column {
        margin-top:110px;
    }
}

code {
    font-family: 'Source Code Pro', monospace;
    color: #9d0000;
    background-color: #f9f9f9;
}

pre {
    font-size: 80%;
}

a {
    color: #39619e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-muted {
    color: #444;
}

.post-meta {
    margin-bottom: -25px;
}

.logo {
    display: flex;
    align-content: center;
}
