{{ define "main" }}
{{ .Content }}
<h1> Post archive </h1>
<table>
    {{ range ((where .Site.Pages "Section" "blog").GroupByDate "2006") }}
    <tr>
        <td>
            <h2>
                {{ .Key }}:
            </h2>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            {{ range where .Pages "Kind" "page" }}

            <article class="post">
                <header class="post-summary-header">
                    <h3> <p class="post-title"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></p> </h3>
                    {{ partial "postMeta.html" . }}
                </header>
            </article>
            {{ end }}
        </td>
    </tr>
    {{ end }}
</table>
</div>
</section>
{{ end }}
