<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        {{ partial "head.html" . }}
        <title>
        {{ block "title" . }}
        {{ end }}
            {{ .Site.Title }} - {{ .Site.Params.Description }} by {{ .Site.Params.Author }}
        </title>
    </head>
    <body class="max-h-flex-column">
        {{ partial "navbar.html" . }}
        <main class="flex-fill">
            <div class="container">
                {{ block "main" . }}
                {{ end }}
            </div>
        </main>
        {{ partial "footer.html" . }}
        {{ partial "js_list.html" . }}
    </body>
</html>
