<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        {{ partial "head.html" . }}
        <title>
        {{ block "title" . }}
        {{ end }}
            {{ .Site.Title }}
        </title>
    </head>
    <body>
        {{ partial "navbar.html" . }}
        <main class="column">
            <div class="content container">
                {{ block "main" . }}
                {{ end }}
            </div>
        </main>
        {{ partial "js_list.html" . }}
    </body>
</html>
