<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        {{ partial "head.html" . }}
        <title>
        {{ block "title" . }}
        {{ end }}
        {{ .Site.Title }} - {{ .Site.Params.Description }}
        </title>
    </head>
    <body>
        <div class="container">
        {{ partial "navbar.html" . }}
        <main class="column">
            <div class="content container col">
                {{ block "main" . }}
                {{ end }}
            </div>
        </main>
        {{ partial "js_list.html" . }}
        {{ partial "footer" . }}
        </div>
    </body>
</html>
