{{ define "title" }}
Blog Posts – {{ .Site.Title }} - {{ .Site.Params.Subtitle }}
{{ end }}

{{ define "main" }}
<div class="row justify-content-center push-navbar">
    <div style="margin-top:10px" class="col-xl-9 col-lg-10 col-md-11 col-sm-12 col-12">
        <div class="card card-block">
            <h3 class="card-title">Blog posts</h3>
            <div class="list-group">
                {{ range .Data.Pages }}
                <a class="list-group-item justify-content-between" href="{{ .Permalink }}">
                            {{ .Title }} {{ if .Draft }}::DRAFT{{end}}
                            <time class="text-right text-muted">{{ .Date.Format "2 Jan 2006" }}</time></span>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}


