{ define "title" }}
    Blog Posts – {{ .Site.Title }} - {{ .Site.Params.Subtitle }}
{{ end }}

{{ define "main" }}
            <div class="row justify-content-center push-navbar">
                <div style="margin-top:10px" class="col-xl-9 col-lg-10 col-md-11 col-sm-12 col-12">
                <h1>Blog posts</h1>
                <hr>
                {{ range .Data.Pages }}
                    <div class="row">
                        <div class="col-9">
                            <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}::DRAFT{{end}}</a>
                        </div>
                        <div class="col-3">
                            <time class="float-right text-muted">{{ .Date.Format "2 Jan 2006" }}</time></span>
                        </div>
                    </div>
                    <hr>
                {{ end }}
            </div>
        </div>
{{ end }}



