{{ define "title" }}
    Blog posts - {{ .Site.Title }} Blog
{{ end }}

{{ define "main" }}
            <h1>Blog posts</h1>
            <ul>
                {{ range .Data.Pages }}
                <li>
                <a href="{{ .Permalink }}">
                            {{ .Title }} {{ if .Draft }}::DRAFT{{end}}
                </a>
                            <time style="float:right">{{ .Date.Format "2 Jan 2006" }}</time>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}


