{{ define "main" }}
<div class="row">
    <div class="col-lg-12">
        <div>
            <button style="display: none;" id="go-to-bottom" type="button" class="btn pull-right btn-primary"><span class="glyphicon glyphicon-chevron-down"></span> Go to bottom</button>
        </div>
        <header class="post-header">
            <h1>
                <p class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
                </p>
            </h1>
            {{ partial "postMeta.html" . }}
        </header>
        <article itemprop="articleBody" id="content">
            <div class="well">
                {{ .TableOfContents }}
            </div>
            {{ .Content }}
        </article>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {{ partial "same-tags.html" . }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ partial "latest.html" . }}
    </div>
    <div class="col-md-6">
        {{ partial "all-tags.html" . }}
    </div>
</div>
<div>
    <button style="display: none;margin:10px" id="go-to-top" type="button" class="btn pull-right btn-primary"><span class="glyphicon glyphicon-chevron-up"></span> Go to top</button>
</div>

<hr>

<div class="row">
    {{ partial "disqus.html" . }}
</div>
{{ end }}
