{{ define "main" }}
<div class="row justify-content-center push-navbar">
    <div style="margin-top:10px" class="col-xl-7 col-lg-8 col-md-11 col-sm-12 col-12">
        <div class="card card-block">
            <h3 class="card-title">All tags:</h3>
            <div class="list-group">
                {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
                <a href="/tags/{{ $value.Name | urlize }}" class="list-group-item">
                    <span><i class="fa fa-tags"></i></span> {{ $value.Name | humanize }}
                    <span style="margin-left: auto;" class="badge text-right badge-primary">{{ $value.Count }} </span>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}


