{{ define "main" }}
<div class="row">
    <div class="col-md-8">
        <div class="card card-block">
            <h3 class="card-title">All tags:</h3>
            <div class="list-group">
                {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
                <a href="/tags/{{ $value.Name | urlize }}" class="list-group-item">
                    <span><i class="fa fa-tags"></i></span> {{ $value.Name | humanize }}
                    <span style="margin-left: auto;" class="badge text-right badge-primary">{{ $value.Count }} </span>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {{ partial "latest.html" . }}
        {{ partial "about.html" . }}
        {{ partial "social.html" . }}
        {{ partial "rss-sub.html" . }}
    </div>
</div>
{{ end }}


