{{ define "main" }}
<div class="row">
    <div class="col-md-12">
        <h1 id="title">{{ .Title }}: </h1>
        <section class="panel panel-default">
            <div class="list-group">
                {{ $data := .Data }}
                {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
                <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}" class="list-group-item"> {{ $value.Name | humanize }} <span class="badge">{{ $value.Count }} </span></a>
                {{ end }}
            </div>
        </section>
    </div>
</div>
{{ end }}
