<div style="margin-bottom:10px" class="card">
    <div class="card-block">
        <h3 class="card-title">About author</h3>
        <p class="card-text">Hello, my name is Radek. I like programming in Go and
        Python. On this blog I will share my thoughts and exprience about this two
        languages. If you have any questions feel free to contact with me and ask.</p>
        <a href="/about/" class="btn btn-primary"><i class="fa fa-hand-o-right"></i> More </a>
        <a href="/contact/" class="btn btn-primary"><i class="fa fa-envelope-open-o"></i> Contact </a>
    </div>
</div>

