<div style="clear: both;"></div>
<footer class="footer">
    <div class="copyright">
        <p>
        <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution"><img height="30px" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg"></img></a>
        {{ if isset .Site.Params "author" }}&copy; {{ .Site.Params.Author }}.{{end}}
        <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">Some rights reserved</a>;
        please attribute properly and link back.
        </p>
        <div style="font-size:48px">
            <a href="https://github.com/LuXuryPro">
                <i class="fa fa-github aria-hidden" aria-hidden="true"></i></a>
            <a href="https://bitbucket.org/Panoramix/">
                <i class="fa fa-bitbucket" aria-hidden="true"></i></a>
            <a href="https://stackoverflow.com/users/8307258/radek-z">
                <i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/radek-za%C5%82uska-3b281312a/">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.reddit.com/user/luxuryPro/">
                <i class="fa fa-reddit" aria-hidden="true"></i></a>
            <a href="https://twitter.com/writeingocom">
                <i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198036490269">
                <i class="fa fa-steam" aria-hidden="true"></i></a>
            <a href="https://www.meetup.com/pl-PL/members/230999559/">
                <i class="fa fa-meetup" aria-hidden="true"></i></a>
            <a href="https://soundcloud.com/antiquo">
                <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
            <a href="https://www.twitch.tv/luxurypro">
                <i class="fa fa-twitch" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
</div>
</body>
</html>
