<link rel="icon" type="image/png" href="/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Roboto|Merriweather|Source+Code+Pro" rel="stylesheet">
<link rel="stylesheet" href="/css/font-awesome.min.css">

{{ if $.Params.hl }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai.min.css">
{{ end }}

{{ if $.Params.UseTex }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css" integrity="sha384-B41nY7vEWuDrE9Mr+J2nBL0Liu+nl/rBXTdpQal730oTHdlrlXHzYMOhDU60cwde" crossorigin="anonymous">
{{ end }}

<link rel="stylesheet" href="/css/styles.css">
