<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet"
      href="/css/font-awesome.min.css"
media="none" onload="if(media!='all')media='all'">
<noscript>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</noscript>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
    ></noscript>

<link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai.min.css"
media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai.min.css"
    ></noscript>

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro"
media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro"
    ></noscript>

<link rel="stylesheet" href="/css/poole.css">
<link rel="stylesheet" href="/css/styles.css">

