<link rel="icon" type="image/png" href="/favicon.png"/>
<link rel="stylesheet" href="/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro"/>
<link rel="stylesheet" href="/css/poole.css"/>
<link rel="stylesheet" href="/css/styles.css"/>

