<header class="hidding-header" id="hide-on-scroll">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12">
                <nav style="margin-bottom:10px" class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div>
                        <a style="margin-top:-10px" class="navbar-brand" href="{{ .Site.BaseURL }}">
                            <div class="brand-lines">
                                <div style="text-align:left;">{{ .Site.Title }}</div>
                                <div><small>{{ .Site.Params.Subtitle }} by <em>{{ .Site.Params.author }}</em></small></div>
                            </div>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                        <ul class="navbar-nav">
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/blog/"><i class="fa fa-pencil-square" aria-hidden="true"></i> Posts</a></li>
                            <li class="nav-item"><a class="nav-link" href="/tags/"><i class="fa fa-tags" aria-hidden="true"></i> Tags</a></li>
                            <li class="nav-item"><a class="nav-link" href="/index.xml" type="application/rss+xml" target="_blank"><i class="fa fa-rss"></i> RSS</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact/"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about/"><i class="fa fa-question-circle-o" aria-hidden="true"></i> About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
