<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ $.Site.BaseURL }}"> <i class="fa fa-home" aria-hidden="true"></i> <strong>{{ .Site.Title }}</strong></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="https://github.com/rzaluska"> <i class="fab fa-github" aria-hidden="true"></i></a></li>
            <li class="nav-item active"><a class="nav-link" href="https://stackoverflow.com/users/8307258/"> <i class="fab fa-stack-overflow" aria-hidden="true"></i></a></li>
            <li class="nav-item active"><a class="nav-link" href="https://www.linkedin.com/in/radoslaw-zaluska/"> <i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="nav-item active"><a class="nav-link" href="/index.xml" type="application/rss+xml" target="_blank"><i class="fas fa-rss"></i></a></li>
            <li class="nav-item active"><a class="nav-link" href="/blog/"><i class="fas fa-edit"></i> Posts</a></li>
            <li class="nav-item active"><a class="nav-link" href="/tags/"><i class="fas fa-tags"></i> Tags</a></li>
            <li class="nav-item active"><a class="nav-link" href="/about/"><i class="fas fa-user-circle"></i> About</a></li>
        </ul>
</nav>
