<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                    <span><img width="20" style="vertical-align:middle"src="/img/gopher.svg"/></span>
                    {{ .Site.Title }} </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}}"><a href="{{ .URL }} ">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/blog/archive/"><span class="glyphicon glyphicon-hdd"></span> Archive</a></li>
                    <li><a href="/index.xml" type="application/rss+xml" target="_blank"><i class="fa fa-rss"></i> RSS</a></li>
                    <li><a href="/contact/"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li><a href="/about/"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
