<div class="social">
    <strong>Share:</strong>
    <div class="row">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.Social.Twitter }}" data-size="large"> Tweet</a>
    </div>
    <div class="row">
        <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location) + '&title=' + {{ .Title }} ; return false"> <img src="//www.redditstatic.com/spreddit8.gif" alt="submit to reddit" border="0" /></a>
    </div>
</div>
