{{ partial "head.html" . }}

{{ partial "header.html" . }}


<section id="main">
<div style="height:220px;background-repeat:no-repeat;background-position: center top;background-image:url(/img/gopher.png)">
</div>
    <div class="well">
        <h1 style="font-size:46px">Welcome to Write in Go</h1>
        <p style="font-size:20px">Hello and welcome to my site. I would like to encourage you to look around and explore it.</p>
        <p style="text-align:right;font-size:20px">Radek ~ Author</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2>Blog</h2>
                <p style="font-size:16px">
                    Do you want to read some intersting informations about programming?
                </p>
                <p style="font-size:16px">
                In my blog you can find posts about <a href="https://golang.org/">Go</a> and <a href="https://www.python.org/">Python</a>.
                I will also show you some Linux tips and tricks. Next we will talk about Android from advanced user perspective.
                </p>
                <p style="font-size:16px">
                Got intrested ? If so then click on button to go to blog
                </p>
                <p>
                    <a class="btn btn-primary" href="/blog/" role="button"><span class="glyphicon glyphicon-hand-right"></span> Go to blog<a>
                </p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
